# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
.venv/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor/IDE settings
.vscode/
.idea/
*.swp